h1 {
    color: #000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    background-color: #FFAA9A;
}

.header{
    background-color: #66AAFF;
    display: flex;
    padding-left: 550px;
    font-size: 15px;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    font-family:cursive;
    justify-content: space-evenly;
}



.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}